

<router-outlet>
  <div class="T_almacenproducto">
    <br>
    <label class="title" for="titulo">Almacen de Productos</label>
    <br>
    <label class="label" for="name">Cantidad Egreso Registro</label>
    <br>
    <input class="textbox" type="name"  placeholder= " Describir Cantidad  ">
    <br>
    <label class="label" for="name">Cantidad Ingreso Registro</label>
    <br>
    <input class="textbox" type="name"  placeholder= " Describir Cantidad ">
    <br>
    <label class="label" for="name">Cantidad en Stock</label>
    <br>
    <input class="textbox" type="name"  placeholder= " Piezas en Stock ">
    <br>
    <label class="label" for="name">Fecha de Vencimiento</label>
    <br>
    <input class="textbox" type="name"  placeholder= " Verificar Fecha de Vencimiento ">
    <br>
    <label class="label" for="name">Presupuesto para Stock</label>
    <br>
    <input class="textbox" type="name"  placeholder= " Ingreso Presupuesto ">
    <br>
    <label class="label" for="id">TalmacenproductoID</label>
    <br>
    <input class="textbox" type="id"  placeholder= " Ingresar ID Sucursal">
    <br>
    <label class="label" for="id">TalmacenID</label>
    <br>
    <input class="textbox" type="id"  placeholder= " Ingresar ID Almacen">
    <br>
    <label class="label" for="id">TproductoID</label>
    <br>
    <input class="textbox" type="id"  placeholder= " Ingresar ID Producto">
    <br>

<button class="button">GUARDAR</button>
<button class="button">MODIFICAR</button>
<button class="button">BUSCAR</button>
<button class="button">ELIMINAR</button>


  </div>
</router-outlet>
